
 <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <%= image_tag 'slayer.jpeg', :width => '200', :class => 'logo' %>
        </div>
        <div class="col-xs-4">
          <%= image_tag 'poison.png', :width => '200', :class => 'logo' %>
        </div>
        <div class="col-xs-4">
          <%= image_tag 'vanhalen.png', :width => '200', :class => 'logo' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <%= image_tag 'ozzy.jpeg', :width => '200', :class => 'logo' %>
        </div>
        <div class="col-xs-6">
          <%= image_tag 'acdc.jpg', :width => '200', :class => 'logo' %>
        </div>
      </div>
