
<div class="container">
  <div class="row">

    <div class="col-xs-4">
      <div class="card">
        <%= image_tag 'slayer.jpeg', :width => '100', :class => 'logo' %>
            <h4><b>Slayer</b></h4>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="card">
        <%= image_tag 'poison.png', :width => '100', :class => 'logo' %>
            <h4><b>Poison</b></h4>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="card">
        <%= image_tag 'vanhalen.png', :width => '100', :class => 'logo' %>
            <h4><b>Van Halen</b></h4>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-xs-6">
      <div class="card">
        <%= image_tag 'ozzy.jpeg', :width => '100', :class => 'logo' %>

            <h4><b>Ozzy Osbourne</b></h4>

        </div>
      </div>

      <div class="col-xs-4">
        <div class="card">
          <%= image_tag 'acdc.jpg', :width => '100', :class => 'logo' %>

              <h4><b>AC/DC</b></h4>

        </div>
      </div>


  </div>
</div>


